<html ng-app="searchStation">

<head>
    <title>高雄市第3屆市長罷免案投開票所設置地點一覽表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="materialdesignicons.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="StationList" class="has-navbar-fixed-top" style="margin:5px;">
    <div class="container">
        <nav class="level navbar is-fixed-top">
            <div class="level-item">
                <input class="input is-rounded" type="text" ng-model="searchText" placeholder="搜尋">
            </div>
        </nav>
    </div>
    <div class="container">
        <div ng-repeat="place in stationData.polling_place | filter:searchText">
            <div class="box" style="margin: 5px 0px 5px 0px;">
                <div class="level content">
                    <p>
                        <strong>{{place[1]}}</strong>
                        <br>
                        <small>{{place[0]}}</small>
                        <br>
                        <small>{{place[3]}}</small><small>{{place[4]}}</small>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-item">
                        <a class="level-item" aria-label="google map">
                            <span class="icon is-small">
                                <i class="mdi mdi-map-marker" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="level-item" aria-label="share">
                            <span class="icon is-small">
                                <i class="mdi mdi-share-variant" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>